<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>http</key>
	<string>DdWeb</string>
	<key>https</key>
	<string>DdWeb</string>
	<key>bilibili</key>
	<dict>
		<key>bilibili://video</key>
		<string>DdVideo</string>
		<key>bilibili://live</key>
		<string>LiveVideo</string>
		<key>bilibili://bangumi</key>
		<string></string>
	</dict>
</dict>
</plist>
